/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
  }
  
  h2 {
    color: #333;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container input[type="text"],
  .input-container input[type="password"] {
    display: block;
    width: 95%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-container input[type="text"]:focus,
  .input-container input[type="password"]:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button-container button:hover {
    background-color: #45a049;
  }
  
  .register-container {
    margin-bottom: 40px;
  }
  
  .login-container {
    margin-top: 40px;
  }
  